.event-details {
  .attend-event-cta {
    display: flex;
    width: 100px;
    height: 35px;
    justify-content: center;
    background-color: white;
    align-items: center;
    border: 1px solid #00a2c7;
    color: #00a2c7;
    font-weight: bold;
    border-radius: 5px;

    &.disabled {
      background-color: #dddddd;
      border-color: #dddddd;
    }

    img {
      width: 50px;
      align-self: center;
      margin-top: -15px;
    }
  }
  .notify-user { color: grey}
}
