@import './colors';

.banner {
  .navbar-brand { color: $primary-color; }

  .navbar-light .navbar-nav .nav-link { color: $white; }

  .navbar-light .navbar-text {
    color: $white;

    a {
      color: $white;
      font-weight: bold;
    }
  }
}